source "drivers_aocpu/get_version/Kconfig"
source "drivers_aocpu/stick_mem/Kconfig"
source "drivers_aocpu/uart/Kconfig"
source "drivers_aocpu/cec/Kconfig"
source "drivers_aocpu/ddr/Kconfig"
source "drivers_aocpu/mailbox/Kconfig"
source "drivers_aocpu/vrtc/Kconfig"
source "drivers_aocpu/str/Kconfig"
source "drivers_aocpu/gpio/Kconfig"
source "drivers_aocpu/key/Kconfig"
source "drivers_aocpu/pwm/Kconfig"
source "drivers_aocpu/timer_source/Kconfig"
source "drivers_aocpu/saradc/Kconfig"
source "drivers_aocpu/ir/Kconfig"
