# Configure Firmware Anti-rollback Versions
device_scs_vers=0x0
device_vers=0x0


# Configure Segmentation ID
device_scs_vendor_segid=0x0

# Configure Device Level-1 Certificate ARB Vers SubMask
DEVICE_SCS_LVL1CERT_VERS_SUBMASK=0
if [ $(($DEVICE_SCS_LVL1CERT_VERS_SUBMASK)) -ne 0 ]; then
	max_device_scs_vers=0x0C
	DEVICE_SCS_LVL1CERT_VERS_SUBMASK=1
else
	max_device_scs_vers=0x10
fi

if [ $(($device_scs_vers)) -gt $(($max_device_scs_vers)) ]; then
	echo "fw_arb.cfg Error: device_scs_vers exceed limit $max_device_scs_vers"
	exit -1
fi

###############################################################
DEVICE_SCS_VERS=0x$(printf %x $(((1 << $device_scs_vers) - 1)))
DEVICE_TEE_VERS=0x$(printf %x $(((1 << $device_vers) - 1)))
DEVICE_REE_VERS=0x$(printf %x $(((1 << $device_vers) - 1)))
DEVICE_SCS_SEGID=0x$(printf %x $((device_scs_vendor_segid)))
DEVICE_VENDOR_SEGID=0x$(printf %x $((device_scs_vendor_segid)))

echo $DEVICE_SCS_VERS
echo $DEVICE_TEE_VERS
echo $DEVICE_REE_VERS
echo $DEVICE_SCS_LVL1CERT_VERS_SUBMASK
echo $DEVICE_SCS_SEGID
echo $DEVICE_VENDOR_SEGID
