if TARGET_S1A_BG201

config SYS_SOC
	default "s1a"

config SYS_BOARD
	default "s1a_bg201"

config SYS_CONFIG_NAME
	default "s1a_bg201"

config DTB_BIND_KERNEL
    bool "load dtb from boot part but not flash rsv"
    default n

config CMD_PLLTEST
	bool "support plltest command"
	default n
	help
	  support plltest command

config AML_REBOOT
       bool "reboot cmd"
       default y
       help
         support uboot reboot cmd

config ZAPPER_IRDETO_BOOT
       bool "Enable Zapper Irdeto Boot"
       default n
       help
         support zapper Irdeto boot
config BG20AB_S805C1
       bool "support BG20AB-s805c1 features"
       depends on ZAPPER_IRDETO_BOOT
       default n
       help
         support BG20AB-s805c1 features
endif
