# Copyright (c) 2021-2022 Amlogic, Inc. All rights reserved.

# SPDX-License-Identifier: MIT

config BOARD_AT301_T962D4
	bool "Amlogic AT301 Board"
	select SOC_T5W
	help
	  Enable Amlogic AT301 Board.
