# Copyright (c) 2021-2022 Amlogic, Inc. All rights reserved.

# SPDX-License-Identifier: MIT

config BOARD_AM301_T950D4
	bool "Amlogic AM301 Board"
	select SOC_T5D
	help
	  Enable Amlogic AM301 Board.
