# Copyright (c) 2021-2022 Amlogic, Inc. All rights reserved.

# SPDX-License-Identifier: MIT

config BOARD_AV400_A113X2
	bool "Amlogic AV400 Board"
	select SOC_A5
	select LIBC_AML
	select COMMON
	select GET_VERSION
	select STICK_MEM
	select UART
	select CEC
	select MAILBOX
	select STR
	select GPIO
	select KEY
	select PWM
	select LEDS
	select TIMER_SOURCE
	select SARADC
	select IR
	select ETHERNET
	select RTC
	select VERSION_FULL_INFO
	select BL30_VERSION_SAVE
	help
	  Enable Amlogic AV400 Board.
