# Copyright (c) 2021-2022 Amlogic, Inc. All rights reserved.

# SPDX-License-Identifier: MIT

config BOARD_BH209_S905Y5
	bool "Amlogic BH209_S905Y5 Board"
	select SOC_S7
	select LIBC_AML
	select COMMON
	select GET_VERSION
	select STICK_MEM
	select UART
	select CEC
	select MAILBOX
	select STR
	select GPIO
	select KEY
	select PWM
	select LEDS
#	select I2C_SLAVE
	select TIMER_SOURCE
	select SARADC
	select IR
	select ETHERNET
	select VRTC
	select VERSION_FULL_INFO
	help
	  Enable Amlogic BH209_S905Y5 Board.
