if TARGET_MESON_G12B

config SYS_CPU
	string
	default "armv8"

config SYS_BOARD
	string
	default "radxa_zero2"

config SYS_VENDOR
	string
	default "radxa"

config SYS_SOC
	string
	default "g12b"

config SYS_CONFIG_NAME
	default "radxa_zero2"

endif
