if TARGET_T6D_BR301

config SYS_SOC
	default "t6d"

config SYS_BOARD
	default "t6d_br301"

config SYS_CONFIG_NAME
	default "t6d_br301"

config DTB_BIND_KERNEL
    bool "load dtb from boot part but not flash rsv"
    default n

config BL30_SELECT
    string "t6d BL30 board config"
        default "t6d_br301"

config CMD_PLLTEST
        bool "support plltest command"
        default n
        help
            support plltest command

config AML_REBOOT
        bool "reboot cmd"
        default y
        help
            support uboot reboot cmd
endif
