# Copyright (c) 2021-2022 Amlogic, Inc. All rights reserved.

# SPDX-License-Identifier: MIT

config LIBC_STD
	bool "Libc implement by standard"
	select KERNEL
	help
		Enable libc of standard implementation.
