if TARGET_S1A_BG209

config SYS_SOC
	default "s1a"

config SYS_BOARD
	default "s1a_bg209"

config SYS_CONFIG_NAME
	default "s1a_bg209"

config DTB_BIND_KERNEL
    bool "load dtb from boot part but not flash rsv"
    default n

config CMD_PLLTEST
	bool "support plltest command"
	default n
	help
	  support plltest command

config AML_REBOOT
       bool "reboot cmd"
       default y
       help
         support uboot reboot cmd
endif
