# Copyright (c) 2021-2022 Amlogic, Inc. All rights reserved.

# SPDX-License-Identifier: MIT

source "soc/riscv/${SOC}/Kconfig"

choice
	prompt "Serial"
	default N200_REVA
	config N200_REVA
	bool "N200 REVA"
	help
	  Enable N200 REVA serial of RISCV.
endchoice
