# Copyright (c) 2021-2022 Amlogic, Inc. All rights reserved.

# SPDX-License-Identifier: MIT

config BOARD_BG209_S805C1
	bool "Amlogic BG209_S805C1 Board"
	select SOC_S1A
	select LIBC_AML
	select COMMON
	select GET_VERSION
	select STICK_MEM
	select UART
	select CEC
	select MAILBOX
	select STR
	select GPIO
	select KEY
	select PWM
	select TIMER_SOURCE
	select SARADC
	select IR
	select ETHERNET
	select VRTC
	select HWSPINLOCK
	select VERSION_FULL_INFO
	help
	  Enable Amlogic BG209_S805C1 Board.
