# Copyright (c) 2021-2022 Amlogic, Inc. All rights reserved.

# SPDX-License-Identifier: MIT

config SPI
	bool "SPI Driver"
	help
	  This enable SPI and SPICC Driver.

if SPI
config MBSPI
	bool "mailbox SPI driver"
	help
	  This enable mailbox SPI Driver.

config SPI_TEST
	bool "SPI test task"
	help
	  This is a SPI test task.
endif