# Copyright (c) 2021-2022 Amlogic, Inc. All rights reserved.

# SPDX-License-Identifier: MIT

config LIBC_AML
	bool "Libc implement by AML"
	select KERNEL
	help
		Enable libc of AML's implementation.

if LIBC_AML
config LIBC_AML_FLOAT_PRINT
	bool "Float number print supported"
	help
	  Float number print supported
endif