# Copyright (c) 2021-2022 Amlogic, Inc. All rights reserved.

# SPDX-License-Identifier: MIT

config BOARD_BC302_T968D4
	bool "Amlogic BC302 Board"
	select SOC_T3X
	select LIBC_AML
	select COMMON
	select GET_VERSION
	select BL30_VERSION_SAVE
	select STICK_MEM
	select UART
	select CEC
	select MAILBOX
	select STR
	select GPIO
	select KEY
	select PWM
	select LEDS
	select TIMER_SOURCE
	select SARADC
	select IR
	select ETHERNET
	select VRTC
	select HWSPINLOCK
	select VERSION_FULL_INFO
	help
	  Enable Amlogic BC302 Board.
