CONFIG_BOARD_AT309_T5W=y
CONFIG_GET_VERSION=y
CONFIG_STICK_MEM=y
CONFIG_UART=y
CONFIG_CEC=y
CONFIG_MAILBOX=y
CONFIG_VRTC=y
CONFIG_STR=y
CONFIG_GPIO=y
CONFIG_KEY=y
CONFIG_PWM=y
CONFIG_TIMER_SOURCE=y
CONFIG_SARADC=y
CONFIG_IR=y
CONFIG_COMMON=y

