# Copyright (c) 2021-2022 Amlogic, Inc. All rights reserved.

# SPDX-License-Identifier: MIT

config SOC_S7
	bool "S7"
	select RISCV
	select STICK_MEM
	select AOCPU_ALIVE_DETECTION
	select AOCPU_BUSRESPERR_DETECTION
	help
	  Enable S7 SOC of RISCV.
