config AML_MTDPART
	bool "Enable Amlogic partition"
	depends on MTD
	help
	  This option, if enabled, we will parse amlogic partition
	  table.

config AML_MTD
	bool "support AML MTD for Raw NAND or SPI NAND or SPI NOR"
	default y if MESON_NFC || SPI_NAND || SPI_FLASH || MTD_SPI_NAND
	help
		This option, if enabled, support for AML MTD

config AML_MTDPART
	bool "support AML MTD partition for raw NAND or SPI nand or SPI NOR"
	default y if AML_MTD
	help
		This option, if enabled, support for AML MTD partition