# Copyright (c) 2021-2022 Amlogic, Inc. All rights reserved.

# SPDX-License-Identifier: MIT

config BOARD_S6_SKT
	bool "Amlogic S6_SKT Board"
	select SOC_S6
	select BRINGUP
	select LIBC_AML
	select COMMON
	select GET_VERSION
#	select STICK_MEM
	select UART
	select CEC
	select MAILBOX
	select STR
	select GPIO
	select KEY
	select PWM
	select LEDS
#	select I2C_SLAVE
	select TIMER_SOURCE
	select SARADC
	select IR
	select ETHERNET
	select VRTC
	select VERSION_FULL_INFO
	help
	  Enable Amlogic S6_SKT Board.
