# Copyright (c) 2021-2022 Amlogic, Inc. All rights reserved.

# SPDX-License-Identifier: MIT

config KERNEL
	bool "RTOS Kernel"
	default y
	help
	  Enable RTOS kernel.

if KERNEL

config KERNEL_ARCH_DIR
	string
	default "ARM_CA53_64_BIT" if ARM_CA53_64_BIT
	default "ARM_CA9" if ARM_CA9
	default "RISC-V" if RISCV
	default "Xtensa" if XTENSA
	help
	  System arch dir string.


config KERNEL_COMPILER_DIR
	string
	default "GCC" if ARM || ARM64
	default "GCC" if RISCV
	default "XCC" if XTENSA
	help
	  System compiler dir string.

config DMALLOC
	bool "Debug Memory Allocation"
	help
	  Enable the memory allocation statistics of tasks..

config DMALLOC_SIZE
	hex "Debug Memory Allocation Buffer Size"
	depends on DMALLOC
	default 128
	help
	  Set the buffer size of memory allocation statistics.

config MEMORY_ERROR_DETECTION
	bool "Memory Error Detection"
	help
	  Enable detecting out-of-bounds access, memory leaks.

config MEMORY_ERROR_DETECTION_SIZE
	hex "Memory Error Detection Buffer Size"
	depends on MEMORY_ERROR_DETECTION
	default 256
	help
	  Set the buffer size of memory error detection.

endif # KERNEL
