if ARCH_MESON

config PINCTRL_MESON_S4
	bool "Amlogic Meson S4 SoC pinctrl driver"
	select PINCTRL_MESON_AXG_PMX

config PINCTRL_MESON_A4
	bool "Amlogic Meson A4 SoC pinctrl driver"
	select PINCTRL_MESON_AXG_PMX

config PINCTRL_MESON_S1A
	bool "Amlogic Meson S1A SoC pinctrl driver"
	select PINCTRL_MESON_AXG_PMX

endif
