if DM_SPI

config AML_SPIFC
        bool "Amlogic SPIFC Driver"
        help
          Enable support for SPI Flash Controller on meson SoCs.
          It should be set when user want SPI NAND or SPI NOR on meson SoCs.
          If SPI NAND/SPI FLASH is enabled, please open it in defconfig

config AML_SPIFCV2
        bool "Amlogic SPIFC_V2 Driver"
        help
          Enable support for SPI Flash Controller v2 on a1 meson SoCs.
          It should be set when user want SPI NAND or SPI NOR on a1 meson SoCs.
          If SPI NAND/SPI FLASH is enabled, please open it in defconfig

endif
